*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: url(https://cdn.wallpapersafari.com/7/12/ftGUko.jpg);
color: white;
/* background-size: cover; */
}
a{
    color: black;
    text-decoration: none;
}
.navbar , .container{
    justify-content: start;
    margin-left: 10px;
    font-size: 20px;

}
a:hover{
    color: black;
}
.container{
    /* overflow-x: hidden; */
    position: relative;
    margin-left: 80vw;
    transform: translateY(-40px);
}
.btn-outline-info , .btn-outline-warning{
    justify-content: center;
    margin-left: 50px;
}
.btn-outline-link{
    font-size: 20px;
}
.box{
    height: 80vh;
    width: 100vw;
    position: absolute;
    
    background: rgba(0, 0, 0, .0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.glass{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
    text-align: center;
    margin-left: 10pz;
    /* transform: translate(95px, 150px); */
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background-color: rgba(0,0,0,.02);
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 10px;
    width: 80%;
}
input{
    border: 0px solid transparent;
}
.List-of-Links{
    font-size: 25px;
    color: black;
    margin-top: 20px;
   
}
.links{

    transform: translate(0px, 385px);
    display: flex;
    justify-content: start;
    position: absolute;
    background-color: none;
    height: 30vh;
    width: 100vw;
}
.btn-success:hover{
    color: black;
}
.old{
    /* display: none; */
    margin: 10px;
    transform: translate(0px,50px);
}
/* .old:active{
} */
li{
    margin-top: 1px;
    margin-left: 53px;
    list-style: none;
}
.btn-danger , .btn-primary{
 margin: 10px;
 font-size: 20px;
 border: 0px solid transparent;
 border-radius: 2px solid transparent;
}